<div *ngIf="isLoading; else courseContent">
  <p>Loading courses...</p>
</div>

<ng-template #courseContent>
  <div *ngIf="courses.length > 0; else noCourses" class="course-grid">
    <app-course-card
      *ngFor="let course of courses; let i = index; trackBy: trackByCourseId"
      appHighlight="lightyellow"
      [course]="course"
      [enrolled]="selectedCourseId === course.id"
      (enrollRequested)="onEnroll($event)">
    </app-course-card>
  </div>
</ng-template>

<ng-template #noCourses>
  <p>No courses available.</p>
</ng-template>
